$color1:#8842c1;
$color2:#b157b1;
$color3:#990a45;

// Paleta de Colores


// Header y Footer
    $color_head_foot: #8842c1;

// Color Texto
    $color_text_normal: darken(gray, 25%);
    $color_text_head_foot:white;   
    
    
    // pruebas
    $bg_principal : rgba($color1,0.5);
    $bg_secundario:lighten(mix($color1,$color2),45%)
    //mix
    //darken
    //lighten
    // saturate
    // linear-gradient (color 1 color 2)  revisar documentacion