

// Paleta de Colores
$bg_principal : #8842c1;

// Formato de textos
    // Titulo Principal
    $tituloPrincipal_size: 2.5rem;
    $tituloPrincipal_font: font-family();

    // Titulos Secciones
    $tituloSeccion_size: 2.5rem;
    $tituloSeccion_font: font-family();

    //Texto
    $size_texto: 1.5rem;