

body{
    
    *{    
        margin:0px;
        padding: 0px;
    }
        overflow-x: hidden;
        scroll-behavior: smooth;
        background-image: linear-gradient(180deg,lighten 10%,darken(white,7%) 120%); 
        font-size: $tipo_fuente(2);
}