#contactos{

    padding: $separacion_sections*1.5 0px $separacion_sections 0px ;
    background-color: $color_head_foot;
    width: 100%;
        @media screen and (min-width:0px)and (max-width:510px){
        padding-top: $separacion_sections*1.5
        }

    .leyenda{
        font-size: nth($size_fuente,10);
        text-align: center;
        color: white;
        margin-top: 5vh;
        padding: 0px 10vw
    }

    .contactos-container{
        display: flex;

        .titulos{
            color: white;
            font-weight: 600;
            font-size: nth($size_fuente,5);
        }
    
        .redessociales-container{
            text-align: center;
            
          
            .fa {
                display: inline-block;
                margin: 10px 20px;
                padding: 10px 20px;
                font-size: nth($size_fuente,4);
                text-decoration: none;
                transition: color 1s;
                
                    @media screen and (max-width:768px){
                        font-size: nth($size_fuente,8);
                        margin: 5px 10px;
                    }

                &:hover{
                    background-color: #a89ebb;
                    color: white;
                    border-radius: 20px;
                    transition: all 0.5s;
                }
            }
            a{
                color: white;
            }
        }

        .contactos-container{
            display: block;
            text-align: center;
                
                @media screen and (max-width:768px){
                    font-size: nth($size_fuente,8);
                    padding-top: 30px !important;
                }
              
            address{
                p{   
                    color: white;
                    font-size: nth($size_fuente,5);
                    padding-top: 11px;

                    @media screen and (max-width:768px){
                       font-size: nth($size_fuente,9);

                    }
                }
            }

        
        }



    }







}