#ingreso{
    display: flex;
    justify-content: center;
    padding-bottom:$padding_sections ;
   
    @include separador_secciones($margin_sections,$padding_sections);
   
    @media screen and (max-width:991px){ 
        @include separador_secciones($margin_sections,$padding_sections);
    }

    @media screen and (min-width:0px)and (max-width:510px){
        @include separador_secciones($margin_sections/5,$padding_sections);
    }
        
        //background-color: $color_principal;
       background-image: linear-gradient(180deg,#f4f4f4 30%,lighten($color_principal, 5%) 100%); 
      
    .carrusel-container{
       
        .carousel-inner{

            .carousel-item{           
                
                text-align: center;
                    
                    .carousel-img{   
                        img{
                            
                            max-height: 200px;
                            height: 70%;

                            @media screen and (max-width:768px){
                                max-height: 280px;
                                height: 60%;
                            }
                        }

                    }    

                    .carousel-text{
                        margin-bottom: 30px ;
                        h2{
                            font-size: nth($size_fuente,4);
                            margin: 2vh 0vh;
                            font-weight: 700;
                            color: darken($color_principal, 30%);
                            text-align: center;

                            @media screen and (max-width:768px){
                                font-size: nth($size_fuente,4)/1.5
                            }

                        }
                        p{
                            font-weight:500;
                            color: darken(mix($color_principal,$color_secundario),30%);
                            font-size: nth($size_fuente,7);
                            width: 70%;
                            margin: 0px auto;

                            @media screen and (max-width:768px){
                                font-size: nth($size_fuente,7)/1.5

                            }

                           
                        }
                    }              
            }
        }
    }   
        
      

    .boton{
        @extend %botones;
    }
}