#ingreso{
   //margin-top: $separacion_sections/2;
   padding-bottom: $separacion_sections/2 ;
   padding-top: $padding_sections; //me separa el header cuando arrastra
    display: flex;
    justify-content: center;
       
    
        @media screen and (min-width:0px)and (max-width:510px){
            // margin-top: $separacion_sections ;
            // padding-top: $padding_sections/2;
        }
        
        //background-color: $color_head_foot;
       background-image: linear-gradient(180deg,#f4f4f4 30%,lighten($color_head_foot, 5%) 100%); 
      
    .carrusel-container{
       
        .carousel-inner{

            .carousel-item{           
                
                text-align: center;
                    
                    .carousel-img{   
                        img{
                            
                            height: 400px; 

                            @media screen and (max-width:768px){
                                width: 300px;
                            }
                        }

                    }    

                    .carousel-text{
                        margin-bottom: 30px ;
                        h2{
                            font-size: nth($size_fuente,4);
                            margin: 20px 0px;
                            font-weight: 700;
                            color: darken($color_head_foot, 30%);
                            text-align: center;

                            @media screen and (max-width:768px){
                                font-size: nth($size_fuente,4)/1.5
                            }

                        }
                        p{
                            font-weight:500;
                           // color: darken($color_text_normal,0%);
                           color: rgb(29, 27, 27);
                            font-size: nth($size_fuente,7);
                            width: 80%;
                            margin: 0px auto;

                            @media screen and (max-width:768px){
                                font-size: nth($size_fuente,7)/1.5

                            }

                           
                        }
                    }              
            }
        }
    }   
        
      

    .boton{
        margin-top: 20px;
        background-color: rgb(250, 250, 157);
        border-radius: 5px;
        padding: 15px 40px;
        color: rgb(117, 117, 117);;
        font-weight: bold;
        font-size: ($size_fuente,5);
        text-decoration: none; 

            @media screen and (max-width:768px){
                font-size: nth($size_fuente,7)/1.5;
                padding: 10px 30px;
                margin-top: 10px;
            }

        &:hover{
            background-color:#8842c1;;
            color: white;
            padding: 15px 55px;
            transition: all 1s;

            @media screen and (max-width:768px){
                padding: 10px 30px;     
            }
        }
    }
}