#ingreso{

    margin-top: $separacion_sections;
    padding-top: $padding_sections;
    
        @media screen and (min-width:0px)and (max-width:510px){
            margin-top: $separacion_sections/5;
            padding-top: $padding_sections/2;
        }

}