


#login{

    margin-top: $margin_sections;
    padding-top: $padding_sections*0.5;
        @media screen and (min-width:0px)and (max-width:510px){
            margin-top: $margin_sections ;
            padding-top: $padding_sections/2;
        }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img{
       
        max-width: 200px;
        width: 80%;
       }


    h1{
          
        font-size: nth($size_fuente,4);
        font-weight: 700;
        color: darken($color_principal,20%);
        margin: 2vh 0vh; 
        text-align: center;

        @media screen and (min-width:0px)and (max-width:768px){
            font-size: nth($size_fuente,5);
        }
    }


    .conteiner-login{

        display: flex;
        align-items: center;
        justify-content: center;

        form{   
            .form-item{
                display: block;
                margin: 2vh auto 0vh auto;

                label{
                    font-size: nth($size_fuente,9);
                    font-weight: 500;
                    
                }
                input{
                border: 2px solid $color_principal ;
                width: 100%;
                  }

             }
        }

        .boton{
           @extend %botones;
           margin-top: 7vh;
        }
    }

}